@use "../custom" as *;

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro {
    font-weight: 700;
    display: inline-block;
  }

  &--description {
    font-size: 2rem;
    line-height: 1.5;
    display: block;
    margin-top: 1.2rem;
  }

  @media (max-width: 768px){
    &--description {
      font-size: 1.5rem;
    }
  }
}

.heading-line::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}

.heading-line::after {
  content: "";
  width: 2rem;
  height: 0.4rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: $primary;
}